*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
*.hex
*.bin
*.axf
.mxproject
JLinkLog.txt
 
RTE/
Templates/
Examples/
OBJ/

!*.uvprojx
!*.h
!*.c
!*.ioc
